<a href="https://colab.research.google.com/github/Jerrin-rajans/Coronavirus_India/blob/master/Web_Scrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from datetime import datetime
import os
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [0]:

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

table = soup.find_all('table')[0]
rows = table.find_all('tr')

# print(rows)

row_list = []

for tr in rows:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    row_list.append(row)
    
# print(row_list)
    
df_bs = pd.DataFrame(row_list[1:len(row_list)-1], columns=row_list[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head()

  Name of State / UT  ... Death
0     Andhra Pradesh  ...     0
1              Delhi  ...     1
2            Haryana  ...     0
3          Karnataka  ...     1
4             Kerala  ...     0

[5 rows x 5 columns]

In [0]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs.head()

  Name of State / UT Total Confirmed cases (Indian National)  ... Death       Date
0     Andhra Pradesh                                       1  ...     0 2020-03-18
1              Delhi                                       9  ...     1 2020-03-18
2            Haryana                                       2  ...     0 2020-03-18
3          Karnataka                                      11  ...     1 2020-03-18
4             Kerala                                      25  ...     0 2020-03-18

[5 rows x 6 columns]

In [0]:
df_bs['Name of State / UT'].unique()

array(['Andhra Pradesh', 'Delhi', 'Haryana', 'Karnataka', 'Kerala',
       'Maharashtra', 'Odisha', 'Punjab', 'Rajasthan', 'Tamil Nadu',
       'Telengana', 'Union Territory of Jammu and Kashmir',
       'Union Territory of Ladakh', 'Uttar Pradesh'], dtype=object)

In [0]:
df_bs.isna().sum()

Name of State / UT                            0
Total Confirmed cases (Indian National)       0
Total Confirmed cases ( Foreign National )    0
Cured/Discharged                              0
Death                                         0
Date                                          0
dtype: int64

In [0]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\imdevskp\\Desktop\\covid_india\\day_by_day_data\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head()

  Name of State / UT Total Confirmed cases (Indian National)  ... Death       Date
0     Andhra Pradesh                                       1  ...     0 2020-03-18
1              Delhi                                       9  ...     1 2020-03-18
2            Haryana                                       2  ...     0 2020-03-18
3          Karnataka                                      11  ...     1 2020-03-18
4             Kerala                                      25  ...     0 2020-03-18

[5 rows x 6 columns]

In [0]:
df_bs.columns

Index(['Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )', 'Cured/Discharged',
       'Death', 'Date'],
      dtype='object')

In [0]:
! ls C:\Users\imdevskp\Desktop\covid_india\day_by_day_data

ls: cannot access 'C:UsersimdevskpDesktopcovid_indiaday_by_day_data': No such file or directory

In [0]:
loc = "C:\\Users\\jerry\\Desktop\\covid_india\\day_by_day_data\\"

files = glob.glob(loc+'2020*.csv')
dfs = []
for i in files:
    df_temp = pd.read_csv(i)
    df_temp = df_temp.rename(columns={'Cured':'Cured/Discharged'})
    dfs.append(df_temp)
    
complete_data = pd.concat(dfs, ignore_index=True).sort_values(['Date'], ascending=True).reset_index(drop=True)
complete_data['Date'] = pd.to_datetime(complete_data['Date'])
complete_data = complete_data.sort_values(['Date', 'Name of State / UT']).reset_index(drop=True)

cols = ['Total Confirmed cases (Indian National)', 'Total Confirmed cases ( Foreign National )', 
              'Cured/Discharged', 'Death']

complete_data[cols] = complete_data[cols].fillna(0).astype('int')

complete_data


complete_data.to_csv('complete.csv', index=False)
complete_data.head()

  Name of State / UT  Total Confirmed cases (Indian National)  ...  Death       Date
0     Andhra Pradesh                                        1  ...      0 2020-03-18
1              Delhi                                        9  ...      1 2020-03-18
2            Haryana                                        2  ...      0 2020-03-18
3          Karnataka                                       11  ...      1 2020-03-18
4             Kerala                                       25  ...      0 2020-03-18

[5 rows x 6 columns]

In [0]:
complete_data.columns

Index(['Name of State / UT', 'Total Confirmed cases (Indian National)',
       'Total Confirmed cases ( Foreign National )', 'Cured/Discharged',
       'Death', 'Date'],
      dtype='object')

In [0]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
Name of State / UT                            14 non-null object
Total Confirmed cases (Indian National)       14 non-null int64
Total Confirmed cases ( Foreign National )    14 non-null int64
Cured/Discharged                              14 non-null int64
Death                                         14 non-null int64
Date                                          14 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 800.0+ bytes